public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*@tailwindcss/oxide*
public-hoist-pattern[]=*unrs-resolver*
enable-pre-post-scripts=true

# Resolve peer dependency issues
dedupe-peer-dependents=true
strict-peer-dependencies=false
